/* HERO */
.main-photo {
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1574334923100-76c30c1f3502?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmVzdGF1cmFudCUyMHRhYmxlfGVufDB8fDB8YmxhY2tfYW5kX3doaXRlfA%3D%3D&auto=format&fit=crop&w=800&q=60');
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 600px;
    width: 100%;
    margin-top: 8%;
    /* opacity: 0.5; */


}
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@100;300&display=swap');
#App-title {
  /* color: coral; */
  text-shadow: 2px 2px 5px black;
  font-size: 155px;
  font-family: 'Permanent Marker', cursive;
  margin-bottom: 50%;
  z-index: 10px;
  text-shadow: 2px 2px;

}
.img {
    opacity: 0.5;
}